.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    padding: 10px 30px;
    font-size: 30px;

}

.hero {
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    gap: 20px;
    padding: 10px 20px;
}

#tag {
    font-size: 2vmax;
}

.cate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.upImg,
.genImg,
.chat {
    padding: 10px 20px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}

.upImg svg {
    width: 25px;
    height: 25px;
    color: rgb(13, 236, 17);

}

.genImg svg {
    width: 25px;
    height: 25px;
    color: rgb(13, 225, 236);
}

.chat svg {
    width: 25px;
    height: 25px;
    color: rgb(240, 155, 7);
}

.upImg:hover,
.genImg:hover,
.chat:hover {
    background-color: aliceblue(240, 248, 255, 0.108);
}

.input-box {
    width: 100%;
    height: calc(100vh- 80px -70%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px, 20px;
    position: fixed;
    bottom: 0;

}

#add,
#submit {
    width: 60px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.295);
    border-radius: 50px;
    background-color: rgb(11, 16, 17);
    color: white;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

#add svg {
    width: 30px;
    height: 30px;
}

#submit svg {
    width: 25px;
    height: 25px;
}

#genImg {
    color: rgb(13, 225, 236);
}

form input {
    max-width: 60%;
    width: calc(100% - 120px);
    height: 60px;
    background-color: rgb(11, 16, 17);
    border: 2px solid rgba(255, 255, 255, 0.295);
    outline: none;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-size: 19px;
    margin-bottom: 15px;

}

.chat-page {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.user,
.ai {
    width: 90%;
    padding: 20px 30px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.295);
    background-color: rgb(11, 16, 17);
    border-radius: 20px;
    font-size: 20px;
}

.pop-up {
    width: 200px;
    height: 100px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    background-color: rgb(11, 16, 17);
    position: absolute;
    bottom: 90px;
    left: 15%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.select-upload-image,
.select-generate-image {
    color: white;
    width: 100%;
    padding: 3px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    cursor: pointer;
}

.select-upload-image:hover,
.select-generate-image:hover {
    background-color: rgba(240, 248, 255, 0.1);
    border-radius: 20px;
}

.select-upload-image svg {
    color: rgb(13, 236, 17);
    width: 25px;
    height: 25px;

}

.select-generate-image svg {
    color: rgb(13, 225, 236);
    width: 25px;
    height: 25px;
}

@media (max-width:500px) {
    #tag {
        font-size: 20px;
    }
}